# Ignore everything by default
*

# Allow directories to be traversed
!*/

# Track .gitignore
!.gitignore

# Track assignment notebooks, final reports, readmes, and dependencies
!Experiment */expt-*.ipynb
!Experiment */expt-*.pdf
!Experiment */README.md
!Experiment */requirements.txt


